apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: ../../kompose --file docker-compose.yml convert --chart
    kompose.version: 1.38.0 (a8f5d1cbd)
  labels:
    io.kompose.service: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: nginx
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: ../../kompose --file docker-compose.yml convert --chart
        kompose.version: 1.38.0 (a8f5d1cbd)
      labels:
        io.kompose.service: nginx
    spec:
      containers:
        - env:
            - name: TZ
              value: EUROPE/PARIS
          image: docker.io/nginxinc/nginx-unprivileged:latest
          name: nginx-proxy
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
          volumeMounts:
            - mountPath: /run/secrets
              name: lexpol-key
              subPath: lexpol-key
            - mountPath: /run/secrets
              name: lexpol-crt
              subPath: lexpol-crt
            - mountPath: /etc/nginx/nginx.conf
              name: nginx-cm0
              readOnly: true
              subPath: nginx.conf
      restartPolicy: Always
      volumes:
        - name: lexpol-key
          secret:
            items:
              - key: lexpol-key
                path: lexpol-key
            secretName: lexpol-key
        - name: lexpol-crt
          secret:
            items:
              - key: lexpol-crt
                path: lexpol-crt
            secretName: lexpol-crt
        - configMap:
            items:
              - key: nginx.conf
                path: nginx.conf
            name: nginx-cm0
          name: nginx-cm0
